@import "../../index.css";

.body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e2c1ae;
}

.form{
    margin-top: 20px;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-image: url('../../assets/cerveja.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.msgErro{
    height: 10px;
}

.login{
    display: flex;
    align-items: center;
}

.google{
    width: 30px;
    height: 30px;
    border: 1px solid var(--azulClaro);
    border-radius: 50%;
    background-color: transparent;
    padding: 3px;
    cursor: pointer;
    transition: 0.5s;
}

.google:hover{
    background-color: var(--azulEscuro);
    border: 1px solid var(--azulEscuro);
}

.pError{
    font-size: 10px;
}


@media (min-width: 600px) {
    .form{
        width: 450px;
    }
}