@import "../../index.css";

.container{
    width: 300px;
    margin: 5px;
    padding: 10px;
    background-color: var(--azulClaro);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:5px;
}

.imagem{
    width: 70px;
}

h1,p{
    font-family: var(--fonte);
    text-align: center;
}

.types{
    display: flex;
    gap: 40px;
}