
.background{
    background-color: #59211C;
    height: 120px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    color: white;
    font-weight: 400;
}